<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="header-right">
          <button class="connect-btn">Connect to Wallet</button>
        </div>
      </div>
      <div class="body">
        <fieldset class="donate">
          <legend>Donate to me</legend>
          <div class="item">
            <div><label for="">Name</label></div>
            <div class="input"><input type="text" /></div>
          </div>
          <div class="item">
            <div><label for="">Message</label></div>
            <div class="input"><input type="text" /></div>
          </div>
          <div class="item">
            <div><button class="connect-btn">Donate</button></div>
          </div>
        </fieldset>
        <fieldset class="memos">
          <legend>Donations</legend>
          <div class="memo">
            <div class="from">thanks to Duc</div>
            <div class="time">12/15/15 12:23 PM</div>
            <p class="message">
              who donated 1ETH with message:
              <span class="quote">Thanks for watching the video today</span>
            </p>
          </div>
          <div class="memo">
            <div class="from">thanks to Duc</div>
            <div class="time">12/15/15 12:23 PM</div>
            <p class="message">
              who donated 1ETH with message:
              <span class="quote">Thanks for watching the video today</span>
            </p>
          </div>
          <div class="memo">
            <div class="from">thanks to Duc</div>
            <div class="time">12/15/15 12:23 PM</div>
            <p class="message">
              who donated 1ETH with message:
              <span class="quote">Thanks for watching the video today</span>
            </p>
          </div>
          <div class="memo">
            <div class="from">thanks to Duc</div>
            <div class="time">12/15/15 12:23 PM</div>
            <p class="message">
              who donated 1ETH with message:
              <span class="quote">Thanks for watching the video today</span>
            </p>
          </div>
          <div class="memo">
            <div class="from">thanks to Duc</div>
            <div class="time">12/15/15 12:23 PM</div>
            <p class="message">
              who donated 1ETH with message:
              <span class="quote">Thanks for watching the video today</span>
            </p>
          </div>
        </fieldset>
      </div>
    </div>
  </body>
</html>
